.container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: auto;
  /* background-image: url("./assets/images/Runway_large.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.headerRow {
  height: 15%;
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerRow h1 {
  font-size: 3rem;
}

.gameRow {
  width: 100%;
  height: 60vh;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.statsGrid {
  height: 20%;
  /* margin: 1rem 0 5rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statsGridItem {
  width: 20%;
  margin: 0 1%;
  text-align: center;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.buttonContainer div {
  flex-basis: 80%;
  height: 3rem;
}

.statsGridItem div {
  margin: .5rem 0;
  flex-basis: 100%;
  display: flex;
}

.statsGridItem .buttonDiv {
  margin: 0.1rem 0;
}

.statsGridItem button {
  background-color: red;
  flex-basis: 100%;
  height: 2rem;
  width: 5rem;
}

.stats {
  width: 10%;
  margin: 2%;
  padding: 2%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightblue;
}

.gameCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90%;
  padding: 0 0;
}

.card {
  height: 33%;
  background-color: black;
  text-align: center;
  margin: .25%;
}

.headerRow {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}

.col-8 {
  width: 64%;
}

.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}

.col-11 {
  width: 88%;
}

.col-12 {
  width: 96%;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("./assets/images/Runway_large.jpg") center center / cover no-repeat;
  }
  .fullscreen-bg__video {
    display: none;
  }
}
